* {
    margin: 0;
    padding: 0;
}

html, body {
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(233, 233, 233);
    background-color: rgb(252, 118, 106, 1);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(70, 70, 70, 1);
}

header h1 {
    font-size: 3rem;
}

header img {
    width: 50px;
}

.helpImg {
    filter: invert(95%);
}

.helper {
    position: absolute;
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    visibility: hidden;
    width: 75%;
    background-color: rgb(177, 82, 73);
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 20px 20px;
    position: absolute;
    font-size: 1.5rem;
    border: 2px solid rgb(141, 65, 58);
    box-shadow: 0px 2px 18px #000000;
    z-index: 10;
}

.helper p {
    margin: 20px 0px;
}

.helper.show {
    visibility: visible; 
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: 0px solid black;
    border-radius: 8px;
    background-color: rgb(252, 118, 106, 1);
    box-shadow: -1px -1px 10px rgba(255, 255, 255, .75),
                3px 3px 10px rgba(70, 70, 70, .75);
    padding: 1rem 2rem;
    color: rgb(233, 233, 233);
}

#start:hover {
    color: rgb(29, 29, 29);
}

#start:active {
    color: rgb(29, 29, 29);
    box-shadow: inset 0px 0px 10px rgba(49, 49, 49, 1),
                inset 0px 0px 10px rgba(56, 56, 56, 1); 
}

.hide {
    visibility: hidden; 
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

main {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameContainer {
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 0px solid black;
}

.gameContainer.show {
    visibility: visible; 
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

#numContainer {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 75px;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px solid black;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, .75),
                3px 3px 5px rgba(70, 70, 70, .75);
}

#guessContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
    color: rgb(233, 233, 233);
    font-size: 1.75rem;
    text-align: center;
    padding: .75rem;
    margin: .5rem;
    border: 0px solid black;
    border-radius: 10px;
    background-color: rgb(252, 118, 106, 1);
    box-shadow: inset 0px 0px 7px rgba(49, 49, 49, .5),
                inset 0px 0px 7px rgba(56, 56, 56, .5); 
}

input::placeholder {
    color: rgba(49, 49, 49, .5);
}

#submit {
    font-size: 1.25rem;
    width: 60%;
    padding: .25rem;
    margin: .5rem;
    border: 0;
    border-radius: 10px;
    background-color: rgb(252, 118, 106, 1);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, .75),
                3px 3px 5px rgba(70, 70, 70, .75);
    color: rgb(233, 233, 233);
}

#submit:active {
    color: rgb(29, 29, 29);
    box-shadow: inset 0px 0px 10px rgba(49, 49, 49, 1),
                inset 0px 0px 10px rgba(56, 56, 56, 1); 
}